{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="identity-section">
            <h1 class="main-title">{{ identity.title }}</h1>

            <div>{{ identity.description }}</div>

            <div class="image-content">
                <img src="{{ asset('uploads/identity/') ~ identity.image }}" alt="Presentation image">
            </div>

            <p>
                <a href="{{ identity.linkedin }}" target="_blank"><img src="{{ asset('uploads/identity/') ~ identity.linkedinImage }}"
                                                       alt="Linkedin icon"></a>
                <a href="{{ identity.github }}" target="_blank"><img src="{{ asset('uploads/identity/') ~ identity.githubImage }}"
                                                     alt="Github icon"></a>
            </p>
        </div>

        <ul>
            <li>
                <a href="{{ path('identity_index') }}">Back to the list</a>
            </li>
            <li>
                <a href="{{ path('identity_edit', { 'id': identity.id }) }}">Edit</a>
            </li>
        </ul>
    </div>
{% endblock %}
